/* black key base ~= 57% of white key base*/
/* black key height ~= 60% of white key height - eyeballed */
/* Piano Inspiration from https://codepen.io/zastrow/pen/oDBki/?editors=1100 */

body {
  font-family: 'Baloo Thambi', Arial, sans-serif;
  background: #DDD;
}

ul {
  list-style: none;
}

li {
  position: relative;
  float: left;
}

header {
  width: 840px;
  display: flex;
  justify-content: space-around;
}

.header {
  display: inline-block;
}

.scoreBox {
  width: 180px;
  height: 100px;
}

#feedback {
  font-size: 32px;
  color: #104EAB;
  padding: 0;
  margin: 0;
}

.score {
  margin: 8px 0 0;
  text-align: left;
  font-size: 24px;
}

h1 {
  padding: 16px 0 0;
  margin: 0 auto;
  text-align: center;
  font-size: 62px;
  line-height: 70px;
}

.green {
  color: #228B22;
}

.red {
  color: #EE2C2C;
}

.blue {
  color: #104EAB;
}

.yellow {
  color: #FFD700;
}

.countDown {
  width: 200px;
}

.jumbotron {
  background: #AAA;
  margin: 0 auto;
  width: 840px;
}

.container {
  background: #333;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 840px;
}

.piano p {
  color: white;
  padding: 0;
  margin: 0;
  line-height: 0;
  height: 10px;
  display: inline-block;
  position: absolute;
}

.whiteKeyName {
  top: -6px;
  left: 34px;
}

.blackKeyName {
  left: 80px;
  top: -6px;
}

#keyboardBind{
  font-size: 12px;
  left: -84px;
  top: -6px;
}

.piano {
  padding-left: 0;
}

.white {
  background: white;
  display: inline-block;
  width: 80px;
  height: 400px;
  border: 1px solid black;
  float: left;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.white:hover {
  background: #BBB;
}

.black {
  z-index: 2;
  display: inline-block;
  width: 60px;
  height: 240px;
  background: black;
  position: absolute;
  float: left;
  right: -35%;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
}

.black:hover {
  background: #444;
}

.keyPress {
  background: red;
}

.keyPress:hover {
  background: red;
}

.keyPressG{
  background: #228B22;
}
.keyPressG:hover{
  background: #228B22;
}

.keyPressR{
  background: #EE2C2C
}
.keyPressR:hover{
  background: #EE2C2C
}

.keyPressB{
  background: #104EAB;
}
.keyPressB:hover{
  background: #104EAB;
}

.keyPressY{
  background: #FFD700;
}
.keyPressY:hover{
  background: #FFD700;
}

.gameOptions {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  height: 100px;
  width: 840px;
  background: #228B22;
  text-align: center;
}

.gameStart {
  background: #BBB;
  width: 120px;
  margin: 10px 0 0;
  padding: 12px;
  font-size: 18px;
}

.switches {
  display: inline-block;
  width: 140px;
  height: 60px;
  margin-top: 20px;
}

.switch {
  font-size: 18px;
}

.gameStart {
  margin-top: 0px;
}

.checkbox {
  margin-top: 8px;
}

.songContainer {
  margin-top: 8px
}

#buttonReferenceC {
  font-size: 14px;
}

.songs{
  margin-bottom: 6px;
  margin-left: 20px;
  font-size: 12px;
  background: #BBB;
}
